In [1]:
import os
import sqlite3
os.remove("curso.db") if os.path.exists("curso.db") else None

In [2]:
con = sqlite3.connect("curso.db")

In [3]:
type(con)

sqlite3.Connection

In [4]:
cur = con.cursor()

In [5]:
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [6]:
cur.execute(sql_create)

In [7]:
sql_insert = 'insert into cursos values (?, ?, ?)'

In [8]:
recset = [(1000, 'Pythom 3', 'R'),
          (1001, 'Big Data', 'A.i'),
          (1002, '.NET', 'C#')]

In [9]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [10]:
con.commit()

In [11]:
sql_select = 'select * from cursos'

In [12]:
cur.execute(sql_select)
curso= cur.fetchall()

In [13]:
for linha in curso:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Pythom 3, Categoria: R

Curso Id: 1001, Título: Big Data, Categoria: A.i

Curso Id: 1002, Título: .NET, Categoria: C#

In [14]:
recset = [(1003, 'MongoDB', 'BLACK-END'),
          (1004, 'Bots', 'NoSQL')]

In [15]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [16]:
con.commit()

In [17]:
cur.execute('select * from cursos')
recset = cur.fetchall()

In [18]:
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Pythom 3, Categoria: R

Curso Id: 1001, Título: Big Data, Categoria: A.i

Curso Id: 1002, Título: .NET, Categoria: C#

Curso Id: 1003, Título: MongoDB, Categoria: BLACK-END

Curso Id: 1004, Título: Bots, Categoria: NoSQL

In [19]:
conn = sqlite3.connect('curso.db')
cursor = conn.cursor()

p_nome = input('Nome: ')
p_idade = input('Idade: ')
p_cpf = input('CPF: ')
p_email = input('Email: ')
p_fone = input('Fone: ')
p_cidade = input('Cidade: ')
p_uf = input('UF: ')
p_criado_em = input('Criado em (yyyy-mm-dd): ')

print('Dados inseridos com sucesso.')

conn.close()

Nome: Silva
Idade: 34
CPF: 223345
Email: silva@oul.com.br
Fone: 22222
Cidade: sp
UF: sp
Criado em (yyyy-mm-dd): 22-09-18
Dados inseridos com sucesso.

In [20]:
con.close()